.skills {
  background-color: var(--main-bg2-color);
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
}
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.box {
  text-align: center;
  background-color: #161277;
  padding: 20px 0;
  box-shadow: rgba(96, 86, 86, 0.24) 0px 3px 8px;
  color: white;
  transition: var(--main-transition);
  border-radius: 10px;
}
.stats .box:hover {
  transform: translateY(-10px);
}
.box img {
  width: 50px;
  height: 50px;
  max-width: 100%;
}
