.image {
  border-radius: 10px;
  max-width: 100%;
  width: 250px;
  height: 90%;
  object-fit: cover;
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}

.container .image:hover {
  transform: perspective(800px) rotateY(0deg);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
